.header {
    background-color: #fff;
    border-bottom: 0.5px solid rgba(203, 213, 225, 0.4);
    padding: 20px;
}

.headerContainer {
    background-color: #f8fafc;
    color: #1f2937;
    flex: 1;
}