.sidebarContainer {
    width: 320px;
    background-color: #2c3e50;
    color: #cbd5e1;

}

.sidebarTitle {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: .5px solid #cbd5e1;
    padding-bottom: 20px;
}

.sidebarButton {

    background-color: #2563eb
}

// color: #f8fafc;