:root {
    --color-blue: #3b82f6;
    --color-green: #10b981;
    --color-red: #ef4444;
    --color-orange: #f59e0b;
    --color-violet: #8b5cf6;
}

$color-blue-bg: #e0f2fe;
$color-blue-text: #0284c7;

$color-green-bg: #dcfce7;
$color-green-text: #16a34a;

$color-gray-bg: #e5e7eb;
$color-gray-text: #374151;
