@use "./variables" as *;


.badge--blue {
    background: $color-blue-bg;
    color: $color-blue-text;
}

.badge--green {
    background: $color-green-bg;
    color: $color-green-text;
}

.badge--default {
    background: $color-gray-bg;
    color: $color-gray-text;
}

.badge {

    padding: 6px 10px;
    border-radius: 999px;
    font-size: 12px;
    color: #0284c7;
    white-space: nowrap;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}